<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
   <style>
      nav{
      display:flex;
      flex-wrap:wrap;
      }
      nav a {
      text-decoration: none;
      display:block;
      padding: 15px 25px;
      text-align: center;
      color:#f3f3f3;
      margin:0 auto;
      font-family:sans-serif;
      font-size: 25px;
      }
      nav a:hover {
      background-color: #C4FBBF;
      color:#ffffff;
      }
    </style>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <nav>
      <a href="https://www.facebook.com/HareeshRavi21" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="FB profile" src="https://www.facebook.com/images/fb_icon_325x325.png" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent"></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/rhareesh/" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="LinkedIn profile" src="https://drive.google.com/uc?id=1QWxvqJuEtfujRA5W3PlHPLMiPssjNB4g" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent"></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://scholar.google.com/citations?user=Lo7VgJ0AAAAJ&amp;hl=en" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="Google Scholar Profile" src="https://drive.google.com/uc?id=15tK11OFidAigXqCWCA0ihWZidKlAXABS" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent"></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/Hareesh-Ravi" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="GitHub page" src="https://drive.google.com/uc?id=1WIwT8QN_X73w2JnEQmIbx4PR0881BWgk" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent"></a>
      </nav>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
	<nav>
        <a href="/index">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/research">Research</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/publications">Publications</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/experience">Experience</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/cv">CV</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/blog">Blog</a>
	</nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
